In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
df = pd.read_csv("listings.csv")
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [3]:
del df["Unnamed: 0"]
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [4]:
df.shape

(2253, 15)

In [5]:
df.isnull().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         1
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
dtype: int64

In [6]:
df.nunique()

Job Title            1272
Salary Estimate        90
Job Description      2253
Rating                 37
Company Name         1513
Location              253
Headquarters          483
Size                    9
Founded               161
Type of ownership      15
Industry               89
Sector                 25
Revenue                14
Competitors           291
Easy Apply              2
dtype: int64

In [7]:
df.dtypes

Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
Easy Apply            object
dtype: object

In [9]:
df['Salary Estimate'].unique()

array(['$37K-$66K (Glassdoor est.)', '$46K-$87K (Glassdoor est.)',
       '$51K-$88K (Glassdoor est.)', '$51K-$87K (Glassdoor est.)',
       '$59K-$85K (Glassdoor est.)', '$43K-$76K (Glassdoor est.)',
       '$60K-$110K (Glassdoor est.)', '$41K-$78K (Glassdoor est.)',
       '$45K-$88K (Glassdoor est.)', '$73K-$127K (Glassdoor est.)',
       '$84K-$90K (Glassdoor est.)', '$27K-$52K (Glassdoor est.)',
       '$42K-$74K (Glassdoor est.)', '$77K-$132K (Glassdoor est.)',
       '$98K-$114K (Glassdoor est.)', '$48K-$96K (Glassdoor est.)',
       '$26K-$47K (Glassdoor est.)', '$31K-$59K (Glassdoor est.)',
       '$47K-$81K (Glassdoor est.)', '$43K-$69K (Glassdoor est.)',
       '$49K-$112K (Glassdoor est.)', '$30K-$54K (Glassdoor est.)',
       '$55K-$103K (Glassdoor est.)', '$37K-$70K (Glassdoor est.)',
       '$57K-$103K (Glassdoor est.)', '$35K-$45K (Glassdoor est.)',
       '$42K-$66K (Glassdoor est.)', '$65K-$81K (Glassdoor est.)',
       '$113K-$132K (Glassdoor est.)', '$42K-$63K (Glassdoor est.)',
       '$60K-$66K (Glassdoor est.)', '$73K-$82K (Glassdoor est.)',
       '$67K-$92K (Glassdoor est.)', '$42K-$76K (Glassdoor est.)',
       '$97K-$129K (Glassdoor est.)', '$68K-$87K (Glassdoor est.)',
       '$29K-$38K (Glassdoor est.)', '$47K-$76K (Glassdoor est.)',
       '$74K-$123K (Glassdoor est.)', '$53K-$94K (Glassdoor est.)',
       '$46K-$102K (Glassdoor est.)', '$43K-$94K (Glassdoor est.)',
       '$45K-$78K (Glassdoor est.)', '$38K-$68K (Glassdoor est.)',
       '$37K-$44K (Glassdoor est.)', '$64K-$113K (Glassdoor est.)',
       '$50K-$93K (Glassdoor est.)', '$37K-$68K (Glassdoor est.)',
       '$73K-$89K (Glassdoor est.)', '$76K-$122K (Glassdoor est.)',
       '$60K-$124K (Glassdoor est.)', '$34K-$61K (Glassdoor est.)',
       '$24K-$48K (Glassdoor est.)', '$30K-$53K (Glassdoor est.)',
       '$41K-$86K (Glassdoor est.)', '$44K-$82K (Glassdoor est.)',
       '$48K-$88K (Glassdoor est.)', '$44K-$78K (Glassdoor est.)',
       '$110K-$190K (Glassdoor est.)', '$89K-$151K (Glassdoor est.)',
       '$69K-$127K (Glassdoor est.)', '$51K-$93K (Glassdoor est.)',
       '$58K-$93K (Glassdoor est.)', '$63K-$116K (Glassdoor est.)',
       '$53K-$104K (Glassdoor est.)', '$35K-$42K (Glassdoor est.)',
       '$43K-$77K (Glassdoor est.)', '$40K-$72K (Glassdoor est.)',
       '$50K-$86K (Glassdoor est.)', '$35K-$67K (Glassdoor est.)',
       '$57K-$70K (Glassdoor est.)', '$28K-$52K (Glassdoor est.)',
       '$46K-$86K (Glassdoor est.)', '$54K-$75K (Glassdoor est.)',
       '$53K-$99K (Glassdoor est.)', '$40K-$74K (Glassdoor est.)',
       '$57K-$104K (Glassdoor est.)', '$99K-$178K (Glassdoor est.)',
       '$93K-$159K (Glassdoor est.)', '$82K-$116K (Glassdoor est.)',
       '$65K-$120K (Glassdoor est.)', '$47K-$74K (Glassdoor est.)',
       '$55K-$101K (Glassdoor est.)', '-1', '$32K-$56K (Glassdoor est.)',
       '$36K-$67K (Glassdoor est.)', '$57K-$67K (Glassdoor est.)',
       '$49K-$91K (Glassdoor est.)', '$57K-$100K (Glassdoor est.)',
       '$78K-$104K (Glassdoor est.)'], dtype=object)

In [10]:
df['low_salary'] = df['Salary Estimate'].apply(lambda x:float(x.split()[0].split("-")[0].strip("$,K")) 
                                                          if x not in ['-1'] else -1)
df['up_salary'] = df['Salary Estimate'].apply(lambda x:float(x.split()[0].split("-")[1].strip("$,K")) 
                                                          if x not in ['-1'] else -1)
df['avg_salary'] = (df['low_salary'] + df['up_salary'])/2.

In [11]:
df.head(10)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,low_salary,up_salary,avg_salary
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,37.0,66.0,51.5
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,37.0,66.0,51.5
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,37.0,66.0,51.5
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,37.0,66.0,51.5
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,37.0,66.0,51.5
5,Data Analyst,$37K-$66K (Glassdoor est.),About Cubist\nCubist Systematic Strategies is ...,3.9,Point72\n3.9,"New York, NY","Stamford, CT",1001 to 5000 employees,2014,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1,37.0,66.0,51.5
6,Business/Data Analyst (FP&A),$37K-$66K (Glassdoor est.),Two Sigma is a different kind of investment ma...,4.4,Two Sigma\n4.4,"New York, NY","New York, NY",1001 to 5000 employees,2001,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1,37.0,66.0,51.5
7,Data Science Analyst,$37K-$66K (Glassdoor est.),Data Science Analyst\n\nJob Details\nLevel\nEx...,3.7,GNY Insurance Companies\n3.7,"New York, NY","New York, NY",201 to 500 employees,1914,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),"Travelers, Chubb, Crum & Forster",True,37.0,66.0,51.5
8,Data Analyst,$37K-$66K (Glassdoor est.),The Data Analyst is an integral member of the ...,4.0,DMGT\n4.0,"New York, NY","London, United Kingdom",5001 to 10000 employees,1896,Company - Public,Venture Capital & Private Equity,Finance,$1 to $2 billion (USD),"Thomson Reuters, Hearst, Pearson",-1,37.0,66.0,51.5
9,"Data Analyst, Merchant Health",$37K-$66K (Glassdoor est.),About Us\n\nRiskified is the AI platform power...,4.4,Riskified\n4.4,"New York, NY","New York, NY",501 to 1000 employees,2013,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,"Signifyd, Forter",-1,37.0,66.0,51.5

In [12]:
df.drop('Salary Estimate', axis=1, inplace=True)

In [13]:
df['Job Title'].unique()[:10]

array(['Data Analyst, Center on Immigration and Justice (CIJ)',
       'Quality Data Analyst',
       'Senior Data Analyst, Insights & Analytics Team [Customer Operations]',
       'Data Analyst', 'Reporting Data Analyst',
       'Business/Data Analyst (FP&A)', 'Data Science Analyst',
       'Data Analyst, Merchant Health', 'DATA ANALYST',
       'Senior Data Analyst'], dtype=object)

In [14]:
find_str = 'analyst'
df['Job Title'] = df['Job Title'].apply(lambda x:x[:(x.lower()).find(find_str)+len(find_str)].lower())

In [15]:
df['Job Title'].unique()

array(['data analyst', 'quality data analyst', 'senior data analyst',
       'reporting data analyst', 'business/data analyst',
       'data science analyst', 'investment advisory data analyst',
       'sustainability data analyst', 'clinical data analyst',
       'data programmer/analyst', 'product analyst',
       'entry level / jr. data analyst',
       'data + business intelligence analyst', 'analyst',
       'data business analyst', 'business analyst',
       'behavioral data analyst', 'advertising data analyst',
       'market data reporting analyst', 'senior analyst',
       'office of the cao | reference data, project manager/business analyst',
       'business data analyst',
       'data scientist / big data analytics analyst',
       'data reporting analyst', 'principal data analyst',
       'junior data analyst', 'portfolio data analyst',
       'data/reporting analyst', 'entry level data analyst',
       'marketing data analyst', 'data/information mgt analyst',
       'information systems officer (data analyst',
       'media science big data analyst', 'healthcare data analyst',
       'ba/data analyst', 'data analytics solutions analyst',
       'quantitative data analyst', 'descriptive analytics data analyst',
       'supply chain data analyst', 'reference data operations analyst',
       'data & service health analyst', 'data/systems analyst',
       'data analytics analyst', 'erp data analyst',
       'healthcare data/reporting analyst', 'pbm data analyst',
       'market data analyst', 'microsoft dynamics crm data analyst',
       'practice analyst', 'buyside - data scientist/research analyst',
       'electronic trading data analyst',
       'data processing & performance analyst',
       'market research data analyst', 'look ml data analyst',
       'data collection analyst', 'data entry/ billing analyst',
       'student persistence initiative data analyst',
       'data quality analyst', 'data governance analyst',
       'sr. business intelligence engineer / data analyst',
       'big data qa analyst', 'financial - data analyst',
       'lead data insights analyst', 'research analyst',
       'data management analyst', 'sr. data profiling analyst',
       'sr. data analyst', 'data/report analyst',
       'human capital data analyst', 'gis data analyst',
       'junior data analytics solutions analyst',
       'vp, research project analyst', 'food data analyst',
       'investment management summer analyst',
       'sr business /data analyst', 'tech business/data analyst',
       'enterprise data, financial data analyst',
       'data remediation analyst', 'big data programmer analyst',
       'lead data analyst', 'client service data analyst',
       'financial data analyst', 'data / business analyst',
       'content analyst', 'data warehouse analyst',
       'senior business and data analyst', 'lead generation data analyst',
       'dna ambassador (clinical business analyst', 'reporting analyst',
       'data engineer/data analyst', 'technical business/data analyst',
       'crm data performance analyst', 'ecommerce data analyst',
       '2021 summer analyst', 'people operations & data analyst',
       'sql data analyst', 'epic data intelligence analyst',
       'jpsc-8461 - position: 13,52,53 data analyst',
       'data entry clerk / data analyst', 'etl developer / data analyst',
       'sr. datastage and data analyst', 'programmer data analyst',
       'consumer lending data analyst', 'encounter data analyst',
       'healthcare analyst', 'tx healthcare data/reporting analyst',
       'senior specialist data analyst',
       'sql report developer data analyst', 'technical data analyst',
       'sr. reference data business analyst', 'ba with data analyst',
       'data & reporting analyst', 'principal business analyst',
       '.net, sharepoint, java, data analyst',
       'etl datastage developer/ibm infosphere datastage consultant(etl data analyst',
       'solar data analyst', 'data science lead analyst',
       'remote: data analyst',
       'data management, firmwide data quality, analyst',
       'compensation and data analyst',
       'ny healthcare data/reporting analyst',
       'senior supply chain data analyst',
       'cib f&bm global program management emea - international regulatory - data provisioning business analyst',
       'senior it technical data analyst', 'sr business analyst',
       'senior manager, data analyst',
       'senior business intelligence & data science analyst',
       'risk adjustment data analyst', 'sr it technical data analyst',
       'senior marketing data analyst',
       'senior sql data warehouse analyst',
       'sr. power bi with dax - data analyst',
       'informatica idq - data quality analyst',
       'senior solutions analyst', 'operations data analyst',
       'hr data analyst', 'healthcare senior data analyst',
       'senior data quality analyst', 'sr business data analyst',
       'senior data business analyst',
       'firmwide reference data operations, pricing operations, analyst',
       'senior healthcare data analyst', 'qa data analyst',
       'sr data analyst', 'senior financial analyst',
       'senior market data content acquisition/procurement analyst',
       'sr. specialist reporting data analyst', 'senior business analyst',
       'technical business analyst', 'principal sales operations analyst',
       'qa production data analyst', 'jpsc-7462 - data analyst',
       'data services lead analyst',
       'regulatory risk management data analytics and reporting analyst',
       'specialist, data and reporting analyst',
       'datastage developer/consultant/ibm websphere datastage developer(etl data analyst',
       'data warehouse systems analyst', 'data migration lead/ analyst',
       'senior data analytics solutions analyst', 'technical analyst',
       'data quality management analyst',
       'senior teradata developer / data analyst',
       'data & interface analyst', 'sr. programmer analyst',
       'sr. principal metrics analyst', 'product & pricing data analyst',
       'sap data analyst',
       'clinical data designer (sr. sdtm programmer/analyst',
       'jpsc-7176 - position 35, 59, 62, 100,101,102, 141,142,166 : senior data analyst',
       'senior billing data analyst', 'master data analyst',
       'senior functional analyst', 'data engineer / data analyst',
       'data intelligence - product data quality analyst',
       'data engineer/analyst', 'big data analyst',
       'data scientist/analyst', 'marketing coordinator / data analyst',
       'special operations (lrec) incentives and proficiency data analyst',
       'a. senior data and business analyst', 'fund data analyst',
       'sr python data analyst', 'tactical data link (tdl) analyst',
       'jr data analyst', 'finance data analytics analyst',
       'business intelligence/data analyst', 'research & data analyst',
       'metrics & data analyst', 'hq data analyst', 'usmtf data analyst',
       'mid data analyst', 'product data business analyst',
       'retail data quality analyst', 'senior data strategy analyst',
       'configuration and data management (c&dm) analyst',
       'jr management analyst', 'sr data business analyst',
       'acoustics data analyst', 'senior data management analyst',
       'data warehouse programmer/analyst', 'program analyst',
       'msc logistics data analyst',
       'business intelligence & data analyst',
       'niwc service desk analyst', 'avmed data governance analyst',
       'it analyst', 'product data analyst',
       'data analytics insights analyst',
       'product data & insights analyst', 'survey data analyst',
       'data and policy analyst', 'senior database analyst',
       'data and reporting analyst', 'advanced data analytics analyst',
       'senior data intelligence analyst', 'workday technical analyst',
       'woocommerce data governance analyst', 'data intelligence analyst',
       'sr analyst', 'data system analyst',
       'sr. data/report system analyst', 'equity data/research analyst',
       'billingual chinese - data analyst', 'public policy data analyst',
       'epidemiologist data analyst', 'data systems analyst',
       'mid-senior data analyst', 'associate player support data analyst',
       'bi/data analyst',
       'customer insights manager, senior data analyst',
       'research sr. data analyst', 'senior business technology analyst',
       'enterprise data quality analyst', 'enterprise data analyst',
       'media data analyst', 'senior data bi analyst',
       'operations analyst', 'sr. business analyst',
       'senior customer data analyst', 'remote data analyst',
       'automotive data analyst', 'sr. analyst',
       'senior data insights analyst', 'bilingual (chinese) data analyst',
       'systems and data analyst', 'data entry analyst',
       'investment reporting data analyst', 'jr. data analyst',
       'sr. business data analyst', 'pricing data analyst',
       'senior data engineer & analyst',
       'principal data management analyst', 'digital media data analyst',
       'data technician/analyst', 'research data analyst',
       '【1yr opt+intern】data analyst',
       'heightened standards data analyst', 'corporate: data analyst',
       'credit data analyst', 'sr performance metrics data analyst',
       'product/data analyst', 'digital marketing data analyst',
       'student data compliance analyst', 'data quality control analyst',
       'sap master data analyst', 'service operations data analyst',
       'system and data analyst', 'sr digital marketing data analyst',
       '19-0574 - service operations data analyst',
       'discovery data analyst', 'music copyright data analyst',
       'sr. data governance analyst', 'data entry clerk and analyst',
       'senior clinical data analyst', 'copyright data analyst',
       'lims master data analyst', 'qm data analyst',
       'radar telemetry data analyst', 'data transformation analyst',
       'urgent need - data analyst', 'business systems & data analyst',
       'associate marketing data analyst', 'outsights data analyst',
       'data integrity analyst', 'reporting and data analyst',
       'manufacturing data analyst',
       'public health data visualization analyst',
       'data operations analyst', 'provider analytics data analyst',
       'csi data analyst', 'fair lending data analyst',
       'senior research data analyst', 'bi data analyst',
       'tableau developer/data analyst',
       'senior trading systems data analyst',
       'data services business analyst', 'call center data analyst',
       'senior global data analyst', 'logistics data analyst',
       'data production analyst', 'sas data analyst',
       'visiting undergraduate affairs data analyst', 'contract analyst',
       'it risk and compliance data reporting analyst',
       'jpsc-5704 - data analyst', 'workforce data analyst',
       'data scientist - sr. analyst', 'clinical practice data analyst',
       'qa analyst', 'philanthropy operations associate - data analyst',
       'financial systems lead data and reporting analyst',
       'data entry and compliance analyst', 'erp data migration analyst',
       'data security analytics analyst', 'sap data management analyst',
       'technical web data collection analyst',
       'sr. sales operations & data analyst', 'sales data analyst',
       'sr. bi data analyst', 'data governance and analytics analyst',
       'r & python / sr. information data analyst', 'sas analyst',
       'business systems analyst', 'sr. data governance business analyst',
       'data scientist sr. - conversation designer & nlp analyst',
       'cost data analyst', 'product and data analyst',
       'xyz data analyst', 'performance data analyst',
       'compensation & hr data analyst', 'data expert analyst',
       'aircraft data analyst', 'environmental data analyst',
       'mdm data analyst', 'omnichannel marketing data analyst',
       'data modeler/data analyst', 'data collector/analyst',
       'cbo data analyst', 'lead quality data analyst',
       'master data management analyst', 'role: data warehouse analyst',
       'ediscovery data analyst', 'senior data operations analyst',
       'accounts receivable analyst', 'data governance business analyst',
       'lead analyst', 'hcc data analyst',
       'vba software developer / it data analyst',
       'healthcare information and data analyst',
       'software engineer/data analyst', 'splunk sme / data analyst',
       'contract data validation analyst',
       'electronic data interchange analyst', 'data expert (analyst',
       '.net developer - program data design analyst',
       'sql developer/data analyst', 'jr. analyst',
       'fall 2020 supply chain data analyst', 'data experience analyst',
       'data control business analyst',
       'network security system/data analyst',
       'data center services analyst', 'central flow data analyst',
       'master data operation analyst',
       'senior business intelligence data analyst', 'system analyst',
       'reporting & data analyst', 'data/business analyst',
       'data quality (dq) problem management analyst',
       'statistician/data analyst', 'technology analyst',
       'data modeler / analyst', 'senior data and reporting analyst',
       'finance data analyst', 'accounting data analyst',
       'data engineer/database analyst', 'etl qa / data analyst',
       'sql/sas data analyst',
       'risk/regulatory reporting project data analyst',
       'data architect /data modeler/data analyst',
       'sr. data business analyst', 'information security data analyst',
       'financial and data analyst', 'transportation data analyst',
       'civil engineer/gis data analyst', 'it data protection analyst',
       'business intelligence - data analyst', '(data analyst',
       'card data analyst', 'it data analyst', 'underwriting analyst',
       'jpsc-6986 - data governance analyst',
       'project regulatory/risk data analyst', 'language data analyst',
       'pharmaceutical data analyst', 'neuroimaging data analyst',
       'healthcare data analytics analyst',
       'certified tumor registrar/data analyst',
       'business systems/data analyst',
       'ccb risk - fraud risk data analyst', 'data strategy analyst',
       'business / data analyst', 'data and information analyst',
       'senior cx data analyst',
       'vertical lift data exploitation analyst',
       'lead geophysical data analyst',
       'pharmaceutical customer data analyst',
       'program manager / business data analyst', 'dba / data analyst',
       'data & systems analyst', 'payment integrity data analyst',
       'patient recruitment data analyst', 'virology data analyst',
       'biochemist data analyst', 'aws analys/ data analyst',
       'sport & data analyst', 'data engineer/reporting analyst',
       'systems analyst',
       'data visualization project manager/ business analyst',
       'stability data analyst',
       'business intelligence and data sciences analyst',
       'mid level data analyst', 'data link analyst',
       'data center migration pmo analyst', 'marketing & data analyst',
       'epidemiologist - data analyst', 'contract data analyst',
       'epidemiology data analyst', 'data business solutions analyst',
       'risk data analyst', 'epidemiology/data analyst',
       'senior data science analyst', 'data security analyst',
       'senior contract data analyst', 'it data science analyst',
       'configuration data analyst', 'senior risk analyst',
       'functional analyst', '(remote) sr. risk analyst',
       'sr. risk analyst', 'navy maintenance data systems analyst',
       'division data and financial analyst',
       'data & business intelligence analyst',
       'fleet optimization data analyst',
       'data steward/configuration analyst',
       'administrative assistant / data analyst',
       'data manager - bioinformatics analyst', 'data privacy analyst',
       'research scientist, structural biologist - cryoem data analyst',
       'senior consulting data analyst', '#105009 research data analyst',
       'automotive ecommerce data analyst',
       'senior technical data analyst', 'senior business data analyst',
       'swrmc assessments junior data analyst', 'c4i data analyst',
       'molecular researcher and data analyst', 'health data analyst',
       'information security and data privacy analyst',
       '7232 data engineer (analyst',
       '#104252 division data and financial analyst',
       'senior financial data analyst', 'sr. c4i data analyst',
       'senior tactical data link systems analyst',
       'data conversion analyst', 'data science - analyst',
       'game data analyst', 'data science – analyst',
       'ignite graduate development program - application developer / data scientist / business analyst',
       'performance improvement data analyst',
       'dallas campus recruiting 2018 - i&d - data analyst',
       'client data analyst',
       'ignite graduate development program application developer / data scientist / business analyst',
       'system/data analyst', 'sr data integrity analyst',
       'rapd risk platforms & data - analyst', 'data integration analyst',
       'human resources data analyst', 'data analytics senior analyst',
       'information technology specialist / data analyst',
       'data import analyst', 'na data reporting analyst',
       'data science- security analyst',
       'direct client requirement - data reporting analyst',
       'claims data analyst', 'senior application programmer analyst',
       'sr. enterprise bi data analyst', 'accounting/data analyst',
       'sr. bi data engineer and analyst', 'data platform system analyst',
       'behavorial health data analyst',
       'data/business solutions analyst',
       'application vulnerability governance lead data analyst',
       'lawson landmark data extract analyst',
       'business analytics analyst', 'data science sr. analyst',
       'network data analyst',
       'senior enterprise data management analyst',
       'jr. data warehouse systems analyst', 'qa automation analyst',
       'sr data management analyst', 'senior data risk analyst',
       'data/business operations analyst', 'digital s/w eng lead analyst',
       'senior qc analyst', 'senior hr data analyst',
       'data and user acceptance test analyst', 'tableau data analyst',
       'ai insights data analyst',
       'apple media products (amp) - big data analyst',
       'finance & accounting data analyst', 'sr. data scientist/analyst',
       'biomedical data analyst', 'advance data analyst',
       'maps evaluation data analyst',
       'bioinformatician/research data analyst',
       'data engineering/analyst',
       'bioinformatician-research data analyst',
       'sr. data warehouse analyst', 'technical business or data analyst',
       'senior bi and data analyst', 'senior data analytics analyst',
       'senior business/data analyst',
       'software test engineer - data analyst',
       'data and user acceptance testing analyst',
       'documentation/data analyst', 'sap materials master data analyst',
       'workday eib data analyst', 'sr. hr data analyst',
       'sr consulting data analyst', 'regulatory data analyst',
       'sr. bi business analyst', 'bioinformatics data analyst',
       'data warehouse business systems analyst',
       'rm - data maintenance analyst', 'data steward | analyst',
       'senior market research analyst',
       'jr. software data/operations analyst',
       'german speaking data analyst',
       'signal processing engineer/data analyst',
       'strategic sourcing data analyst', 'sr qc analyst',
       'bi business/data analyst',
       'manager : marketing ops and data analyst',
       'senior risk data analyst',
       'sap sr master data functional analyst', 'ccpa data analyst',

In [16]:
df.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,low_salary,up_salary,avg_salary
0,data analyst,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,37.0,66.0,51.5
1,quality data analyst,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,37.0,66.0,51.5
2,senior data analyst,We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,37.0,66.0,51.5
3,data analyst,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,37.0,66.0,51.5
4,reporting data analyst,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,37.0,66.0,51.5

In [21]:
df['Industry'].value_counts().sort_values(ascending=False)[:20]

-1                                         353
IT Services                                325
Staffing & Outsourcing                     323
Health Care Services & Hospitals           151
Consulting                                 111
Computer Hardware & Software               111
Investment Banking & Asset Management       78
Enterprise Software & Network Solutions     69
Internet                                    65
Banks & Credit Unions                       51
Advertising & Marketing                     51
Insurance Carriers                          47
Colleges & Universities                     40
Accounting                                  39
Biotech & Pharmaceuticals                   33
Social Assistance                           23
Aerospace & Defense                         22
Video Games                                 20
State & Regional Agencies                   15
Lending                                     15
Name: Industry, dtype: int64